
# Node
node_modules/

# Frontend
Frontend/node_modules/
Frontend/.expo/

# Backend
Backend/node_modules/

# Env
.env
Frontend/.env
Backend/.env
Frontend/.env.example

# Build
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/