
# Node
node_modules/

# Frontend
frontend/node_modules/
frontend/.expo/

# Backend
backend/node_modules/

# Env
.env
backend/.env
frontend/.env.example

# Build
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/